@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Hind Madurai", sans-serif;
}

/* Header */
header {
    background-color: aqua;
}

/* Main Content */
main {
    background-color: bisque;
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: cadetblue;
}