@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Hind Madurai", sans-serif;

}

h1,
h2,
h3,
h4 {
  font-family: "Audiowide", sans-serif;
  text-transform: uppercase;
}

/* Header */
header {
  background-color: #5f9ea0;
  padding: 0 1rem;
  z-index: 99;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header>a {
  text-decoration: none;
  color: black;


}

h1 {
  font-size: 180%;
  font-family: "Audiowide", sans-serif;
  text-transform: uppercase;
  padding-bottom: 9px;
  padding-top: 0.5rem;



}

#menu {
  padding: 2px;
  list-style-type: none;
  font-size: 110%;

}

nav {
  position: absolute;
  background-color: #5f9ea0;
  width: 100%;
  left: 0px;
  padding: 0 1rem;
  display: none;
  top: 100%;
}





.active {
  color: rgb(255, 213, 0);
  background-color: rgba(99, 99, 99, .5);
  border-radius: 50px;
  padding-left: 5px;



}

#nav-toggle:checked~nav {
  display: flex;
  justify-content: flex-end;

}

#nav-toggle {
  display: none;

}

.nav-toggle-label {
  font-size: 1.3rem;
  position: fixed;
  top: 14px;
  right: 17px;

}

li a {
  text-decoration: none;
  color: black;
  padding-bottom: 2px;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

/* Main Content */
main {
  background-color: bisque;
  flex: 1 0 auto;
  margin-top: 53px;

}

/* Hero Section */
#hero {
  height: 350px;
  width: 100%;
  background: url("images/hero-image.jpeg") no-repeat right center/cover;
  position: relative;


}

#fade {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 1.5) 100%);
  z-index: 5;
}

#hero-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding: 100px 20px;
  color: #ffffff;
  z-index: 100;
  position: absolute;
}

#courses-button {
  max-width: 150px;
}

/* How to start your riding journey */

#riding-journey {
  text-align: center;
  
}

#riding-journey h3 {
  padding: 20px 0;
}

#riding-journey li {
  list-style-type: none;
}


.background-bar-colour {
  background-color: #5f9ea0;
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  height: 25px;
  margin: 5px auto;
  padding: 0 10px;
  align-items: center;
  border-radius: 5px;
  
}


#journey-chevron-16, #journey-chevron-17, #journey-chevron-19, #journey-chevron-24 {
  display: none;
} 

.chevron-checkbox {
  display: flex;
  position: relative;
}

/* Age 16 dropdown */

.journey-age-16 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 100px;
}

#journey-chevron-16:checked~.journey-age-16 {
display: none;
}

/* age 17-24 dropdowns */

.journey-age-17 {
  display: none;
}

.journey-age-19 {
  display: none;
}

.journey-age-24 {
  display: none;
}

#journey-chevron-17:checked~.journey-age-17 {
  display: flex;
  flex-direction: column;
  
}

#journey-chevron-19:checked~.journey-age-19 {
  display: flex;
  flex-direction: column;
  
}

#journey-chevron-24:checked~.journey-age-24 {
  display: flex;
  flex-direction: column;
  
}

.bold-box {
  font-size: 150%;
  color: #5f9ea0;
  padding:0 2px;
  border: 2px solid #5f9ea0;
  border-radius: 5px;
  border-top: 0;
}

.colored-text {
  font-size: 150%;
  color: #5f9ea0;
}

/* Easy Rider Club */

#easy-rider-club-form {
  display: flex;
  flex-direction: column;
}

/* Footer */
footer {
  background-color: #5f9ea0;
}

footer li {
  list-style-type: none;
  font-size: 25px;
  padding: 5px 15px;
}

#social-networks {
  display: flex;
  justify-content: center;

}

/* Screen size larger than 768px */
@media screen and (min-width: 768px) {

  nav {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    width: 100%;
    top: auto;

  }

  #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-toggle-label {
    display: none;
  }

  li a {
    padding: 0 20px;
  }

  .active {
    padding: 0px 5px;
  }


}