@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Hind Madurai", sans-serif;
  

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Audiowide", sans-serif;
  text-transform: uppercase;
}


/* Header */
header {
  background-color: #5f9ea0;
  padding: 0 1rem;
  z-index: 99;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header>a {
  text-decoration: none;
  color: black;


}

h1 {
  font-size: 180%;
  font-family: "Audiowide", sans-serif;
  text-transform: uppercase;
  padding-bottom: 9px;
  padding-top: 0.5rem;



}

#menu {
  padding: 2px;
  list-style-type: none;
  font-size: 110%;

}

nav {
  position: absolute;
  background-color: #5f9ea0;
  width: 100%;
  left: 0px;
  padding: 0 1rem;
  display: none;
  top: 100%;
}





.active {
  color: rgb(255, 213, 0);
  background-color: rgba(99, 99, 99, .5);
  border-radius: 50px;
  padding-left: 5px;



}

#nav-toggle:checked~nav {
  display: flex;
  justify-content: flex-end;

}

#nav-toggle {
  display: none;

}

.nav-toggle-label {
  font-size: 1.3rem;
  position: fixed;
  top: 14px;
  right: 17px;

}

li a {
  text-decoration: none;
  color: black;
  padding-bottom: 2px;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

/* Main Content */
main {
  background-color: bisque;
  flex: 1 0 auto;
  margin-top: 53px;

}

/* Hero Section */
#hero {
  height: 300px;
  width: 100%;
  background: url("images/hero-image.jpeg") no-repeat right center/cover;
  position: relative;


}

/* CSS Taken from stackoverflow.com */
#fade {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 1.5) 100%);
  z-index: 5;
}

#hero-text {
  max-width: 200px;
  padding: 60px 0 60px 30px;
  color: #ffffff;
  z-index: 90;
  position: absolute;
}

#hero-text h2 {
  padding-bottom: 5px;
}

#courses-button {
  padding: 5px 10px;
  color: #ffffff;
  font-family: "Audiowide", sans-serif;
  background-color: #5f9ea0;
  border: 2px solid #ffffff;
  margin-top: 20px;
}

#courses-button:active {
  color: #5f9ea0;
  background-color: #ffffff;
}

/* Intro */
#intro {
  height: 40vh;
  width: 100%;
  padding: 10px;
}

#intro-image-container {
  height: 120px;
  width: 100%;
  display: flex;
}

#intro-image {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}



/* Map */


#map-section {
  width: 100%;
  height: 25vh;
}

#map {
  height: 100%;
  width: 100%;
  border: none;
}



/* How to start your riding journey */

#riding-journey {
  text-align: center;
  
}

#riding-journey h3 {
  padding: 20px 0;
}

#riding-journey li {
  list-style-type: none;
}


.background-bar-colour {
  background-color: #5f9ea0;
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  height: 25px;
  margin: 5px auto;
  padding: 0 10px;
  align-items: center;
  border-radius: 5px;
  
}


#journey-chevron-16, #journey-chevron-17, #journey-chevron-19, #journey-chevron-24 {
  display: none;
} 

.chevron-checkbox {
  display: flex;
  position: relative;
}

/* Age 16 dropdown */

.journey-age-16 {
  display: flex;
  flex-direction: column;
}

#journey-chevron-16:checked~.journey-age-16 {
display: none;
}

/* age 17-24 dropdowns */

.journey-age-17 {
  display: none;
}

.journey-age-19 {
  display: none;
}

.journey-age-24 {
  display: none;
}

#journey-chevron-17:checked~.journey-age-17 {
  display: flex;
  flex-direction: column;
  
}

#journey-chevron-19:checked~.journey-age-19 {
  display: flex;
  flex-direction: column;
  
}

#journey-chevron-24:checked~.journey-age-24 {
  display: flex;
  flex-direction: column;
  
}

hr {
  width: 200PX;
  margin: 10px auto;
  border: 3px solid black;
  border-radius: 50px;
}

.bold-box {
  font-size: 150%;
  color: #5f9ea0;
  padding:0 2px;
  border: 2px solid #5f9ea0;
  border-radius: 5px;
  box-sizing: border-box; 
}

.colored-text {
  font-size: 150%;
  color: #5f9ea0;
}

/* Easy Rider Club */
#bike-club-logo {
  display: block;
  margin: 30px auto;
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: 5;
  opacity: .2;
}

#club-welcome h2 {
  margin-bottom: 10px;
}

#club-welcome {
  position: relative;
  margin: 20px;
  z-index: 10;
}

#club-welcome p {
  font-weight: 800;
  max-width: 460px;
  margin: auto;
}

#easy-rider-form-section {
  background-color: #5f9ea0;
  margin: 0 auto 50px auto;
  max-width: 320px;
  position: relative;
  z-index: 11;
  
}

#easy-rider-form {
  padding: 10px;
}



.hide {
  display: none;
}

.input {
  border: 2px solid black;
  margin: 10px;
  
}

fieldset {
  border: 2px solid bisque;
}

fieldset p {
  padding: 10px;
}

legend {
  align-self: self-start;
  font-family: "Audiowide", sans-serif;
  padding: 2px;
}

.centered {
  text-align: center;
}

.checkbox {
  margin-bottom: 15px;
}

#submit {
  padding: 5px 10px;
  color: bisque;
  font-family: "Audiowide", sans-serif;
  background-color: #5f9ea0;
  border: 2px solid bisque;
  margin: 15px;
}

#submit:active {
  color: #5f9ea0;
  background-color: bisque;
}

.end {
  text-align: end;
}

/* Footer */
footer {
  background-color: #5f9ea0;
}

footer li {
  list-style-type: none;
  font-size: 25px;
  padding: 5px 15px;
}

#social-networks {
  display: flex;
  justify-content: center;

}

/* Screen size larger than 768px */
@media screen and (min-width: 768px) {

  nav {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    width: 100%;
    top: auto;

  }

  #menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .nav-toggle-label {
    display: none;
  }

  #menu a {
    padding: 0 20px;
  }

  .active {
    padding: 0 5px;
  }

  




}


/* For laptops larger than 1024px */
@media screen and (min-width: 1024px) {

  
  .journey-boxes {
    display: flex;
    justify-content: space-evenly;
  }
  
  .journey-age-16, .journey-age-17, .journey-age-19, .journey-age-24 {
    display: block;
  }

  .chevron-checkbox {
    display: none;
  }

  .background-bar-colour {
    justify-content: center;
  }

  #bike-club-logo {
    position: relative;
    opacity: 1;
    max-height: 190px;
    width: auto;
  }


}